.formulario {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.formulario__titulo {
    font-family: "Inter", sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: var(--fonte-preta);
    margin-top: 4em;
}

.formulario__subtitulo {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: var(--fonte-cinza);
    margin-top: 2em;
}

.formulario__email {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--fonte-cinza);
    padding: 1em;
    border-radius: 10px;
    border: solid 1px var(--fonte-cinza);
    margin: 2em 1em;
    width: 40%;
}

.formulario__cadastrar {
    background-color: var(--fonte-marrom);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 1em;
    border-radius: 10px;
    color: #ffffff;
    border: solid transparent;
}

.formulario__texto {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: var(--fonte-cinza);
    margin-bottom: 1em;
}
